@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

.fancy-highlight::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10%;
  width: 112%;
  height: 1.2em;
  background-color: #05df72;
  transform: skew(-12deg) translateY(-50%);
  z-index: -1;
  border-radius: 0.25rem;
}
